<footer>
    <div class="row">
        <div class="col">
            <div class="logo">
                <img src="img/logo.png">
                    <span class="name">The Food Cartel La Union</span>
                    <p class="copyright">© 2023 The Food Cartel La Union. All rights are reserved</p>

            </div>
        </div>
        <div class="col">
            <h6><i class='bx bx-link' ></i> Important Links</h6>
            <ul>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="col">
            <h6><i class="fa-solid fa-earth-asia"></i> Community</h6>
            <ul>
                <div class="social-icons">
                    <a href="#" class="facebook"><i class="fa-brands fa-facebook-f"></i></i></i></a> 
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> 
                    <a href="#" class="google"><i class="fa fa-google"></i></a> 
                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                </div>
            </ul>
        </div>
    </div>
    <hr/>
    <button id="scrollup"><i class='bx bxs-chevron-up'></i></button>
</footer>