<%- include('../partials/header_imports.ejs'); %>
  <%- include('../partials/dashboard/topbar.ejs'); %>
    <%- include('../partials/dashboard/sidebar.ejs'); %>

      <div class="dashboard">

        <div class="main-container">

          <div class="row">

            <div class="card-01">
              <div class="icon"><i class="ph ph-coins"></i></div>
              <div class="stat">
                <span class="numbers">10384</span>
                <span class="title">Today's Sale</span>
              </div>
            </div>

            <div class="card-01">
              <div class="icon"><i class="ph ph-call-bell"></i></div>
              <div class="stat">
                <span class="numbers">284</span>
                <span class="title">Today's Orders</span>
              </div>
            </div>

            <div class="card-01">
              <div class="icon"><i class="ph ph-book-open"></i></div>
              <div class="stat">
                <span class="numbers">312</span>
                <span class="title">Today's Reservations</span>
              </div>
            </div>



            <div class="card-01">
              <div class="icon"><i class="ph ph-call-bell"></i></div>
              <div class="stat">
                <span class="numbers">284</span>
                <span class="title">Total Orders</span>
              </div>
            </div>
            
          </div>

          <div class="row">
            <div class="header">
              <h1>Overview</h1>
            </div>
            <div class="card-02">



              <div class="stat-card">
                <div class="icon"><i class="ph ph-coins"></i></div>
                <div class="stat">
                  <span class="numbers">10,384</span>
                  <span class="title">Today's Sale</span>
                </div>
              </div>

              <div class="stat-card">
                <div class="icon"><i class="ph ph-call-bell"></i></div>
                <div class="stat">
                  <span class="numbers">284</span>
                  <span class="title">Today's Orders</span>
                </div>
              </div>

              <div class="stat-card">
                <div class="icon"><i class="ph ph-book-open"></i></div>
                <div class="stat">
                  <span class="numbers">312</span>
                  <span class="title">Today's Reservations</span>
                </div>
              </div>


            </div>
            <div class="card-02"></div>
          </div>

          <div class="row">
            <div class="card-03"></div>
          </div>



        </div>



      </div>

      <%- include('../partials/footer_imports.ejs'); %>