<%- include('../partials/header_imports'); %>
<%- include('../partials/dashboard/topbar.ejs'); %>
<%- include('../partials/dashboard/sidebar.ejs'); %>

<div class="dashboard">
    <main class="first-page">
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
      </main>

</div>

  <%- include('../partials/footer_imports.ejs'); %>