<div class="dashboard">
    <aside>
        <div class="user">
            <img src="img/kirs1.jpg">
            <div class="details">
                <span class="name"><%= user.firstName %> <%= user.lastName %></span>
                <span class="role"><%= user.role %></span>
            </div>
        </div>
    
        <div class="nav">
            <ul>
                <li><a href="#">Manage Food</a></li>
            </ul>
        </div>
    </aside>
</div>

