<%- include('./partials/header_imports.ejs'); %>
    <%- include('./partials/navbar.ejs'); %>


        <header id="top">
            <div class="wrapper">
                <!-- TEXT -->
                <div class="layout">

                    <div class="col1">
                        <h1 class="first-line">Whatever your choice is</h1>
                        <h1 class="second-line">We can have it for you</h1>
                        <p>the food cartel - ilocandia city</p>

                        <div class="links">
                            <a href="/" class="reserve">Reserve Now</a>
                            <a href="/menu" class="menu">Menu</a>
                        </div>
                    </div>
                    <!-- IMAGE -->
                    <div class="col2">
                        <img src="/img/dessertshadow.png" class="front-img" data-value="1">
                    </div>
                </div>
            </div>
        </header>

        <div class="all-sections">
            <section id="video">
                <div class="wrapper">
                    <div class="layout">

                        <div class="one">
                            <iframe width="315" height="560"
                                src="https://www.youtube.com/embed/2knp1oHHhmU?&autoplay=1&mute=1"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen>
                            </iframe>
                        </div>
                        <div class="two">Video</div>
                    </div>
                </div>
            </section>



            <section id="featured">
                <div class="blur"></div>
                <div class="wrapper">
                    <div class="layout">

                        <h1 class="title">Featured Menu</h1>

                        <div class="items">
                            <div class="item">
                                <div class="details" style="padding: 1rem 1rem 0 1rem;">
                                    <p class="name">Penne Pesto</p>
                                    <p class="price">₱7</p>


                                </div>
                                <p class="description">This is where item description goes.</p>
                            </div>
                            <div class="item">
                                <div class="image"><img src="/img/cream.jpg"></div>
                                <div class="details" style="padding: 1rem 1rem 0 1rem;">
                                    <p class="name">Penne Pesto</p>
                                    <p class="price">₱7</p>
                                </div>
                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in
                                    sapien ipsum.
                                    Vestibulum pretium a ex nec porttitor. Quisque quis nibh id ipsum efficitur
                                    sollicitudin.
                                    Aliquam dapibus purus sed odio bibendum dictum. Nullam venenatis posuere ex sed
                                    lacinia.
                                    Maecenas facilisis, neque et blandit viverra, enim nibh cursus leo, eu condimentum
                                    neque
                                    velit
                                    eget nibh. </p>

                            </div>

                            <div class="item">
                                <div class="image"><img src="/img/cream.jpg"></div>
                                <div class="details" style="padding: 1rem 1rem 0 1rem;">
                                    <p class="name">Penne Pesto</p>
                                    <p class="price">₱7</p>

                                </div>
                                <p class="description">This is where item description goes.</p>

                            </div>

                            <div class="item">
                                <div class="image"><img src="/img/cream.jpg"></div>
                                <div class="details" style="padding: 1rem 1rem 0 1rem;">
                                    <p class="name">Penne Pesto</p>
                                    <p class="price">₱7</p>

                                </div>
                                <p class="description">This is where item description goes.</p>

                            </div>

                            <div class="item">
                                <div class="image"><img src="/img/cream.jpg"></div>
                                <div class="details" style="padding: 1rem 1rem 0 1rem;">
                                    <p class="name">Penne Pesto</p>
                                    <p class="price">₱7</p>

                                </div>
                                <p class="description">This is where item description goes.</p>

                            </div>





                        </div>
                    </div>
                </div>
            </section>
        </div>



        <%- include('./partials/footer_imports.ejs'); %>
            <%- include('./partials/footer.ejs'); %>