<%- include('./partials/header_imports.ejs'); %>
    <%- include('./partials/navbar.ejs'); %>

        <section class="menu-section">

            <div class="wrapper">
                <a href="#sr-sabrozo">Sr. Sabrozo</a>
                <a href="#sabrozo-grillers">Sr. Sabrozo</a>
                <section id="sr-sabrozo">
                    <h4>Sr. Sabrozo</h4>
                    <div class="item-section">
                        <div class="item">
                            <img class="item-image square-image image-cover" src="/img/cream.jpg" loading="lazy"
                                alt="Food title here">
                            <div class="item-info">
                                <div class="item-header">
                                    <h3>Food title</h3>
                                </div>
                                <div class="price-availability">
                                    <span class="price">P230</span>
                                </div>
                                <div class="item-content">
                                    <p class="description">Description here.</p>
                                    <!-- Add to Cart button -->
                                    <div class="add-to-cart">Add to Cart</div>
                                </div>

                            </div>
                        </div>

                        <div class="item">
                            <img class="item-image square-image image-cover" src="/img/cream.jpg" loading="lazy"
                                alt="Food title here">
                            <div class="item-info">
                                <div class="item-header">
                                    <h3>Food title</h3>
                                </div>
                                <div class="price-availability">
                                    <span class="price">P230</span>
                                </div>
                                <div class="item-content">
                                    <p class="description">Description here.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="sabrozo-grillers">
                    <h4>Sabrozo Grillers</h4>
                    <div class="item-section">
                        <div class="item">
                            <img class="item-image square-image image-cover" src="/img/cream.jpg" loading="lazy"
                                alt="Food title here">
                            <div class="item-info">
                                <div class="item-header">
                                    <h3>Food title</h3>
                                </div>
                                <div class="price-availability">
                                    <span class="price">P230</span>
                                </div>
                                <div class="item-content">
                                    <p class="description">Description here.</p>
                                </div>
                            </div>
                        </div>

                        <div class="item">

                            <div class="item-info">
                                <div class="item-header">
                                    <h3>Food title</h3>
                                </div>
                                <div class="price-availability">
                                    <span class="price">P230</span>
                                </div>
                                <div class="item-content">
                                    <p class="description">Description here.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>

        <%- include('./partials/footer_imports.ejs'); %>