<%- include('./partials/header_imports.ejs'); %>
    <%- include('./partials/navbar.ejs'); %>


        <div class="policy" style="
        background: var(--brandcolor) url('img/diamonds9.png');
        color: white;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        letter-spacing: .5px;
        ">
            <div class="title">Privacy Policy</div>
            <div class="date">September 29, 2023</div>
        </div>

        <section class="privacy-policy" style="padding-top: 50px">


            <p>The Food Cartel in Ilocandia City ("we," "our," or "us") operates The Food Cartel in Ilocandia City,
                which
                includes a website, mobile application, and related services (collectively referred to as the
                "Service").
                </p>
                <p>
                This
                Privacy Policy outlines our practices regarding the collection, use, and protection of personal
                information
                when
                you use our Service.
                </p>
                <p>
                By accessing or using our Service, you consent to the practices described in this Privacy Policy. If you
                do
                not
                agree with this Privacy Policy, please do not use our Service.
            </p>

            <h5>Information We Collect</h5>
            We may collect the following types of personal information from users:

            - User Account Information
            When you create an account, we may collect your name, email address, username, password, and contact
            information.
        </section>




        <%- include('./partials/footer_imports.ejs'); %>
            <%- include('./partials/footer.ejs'); %>