.dashboard .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 16rem;
    height: 100%;
    z-index: 1000;
    background: #444;
    overflow-y: auto;
    overflow-x: hidden;
}

.dashboard .sidebar .user {
    background: rgba(255,255,255,.5);
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 1rem;
    padding: 1rem;
}

.dashboard .sidebar .user img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.dashboard .sidebar .user .details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard .sidebar .user .name {
    font-size: 1.1rem;
}

.dashboard .sidebar .user .role {
    font-size: .7rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}