.dashboard .topbar {
    position: fixed;
    top: 0;
    left: var(--dashboard-sidebar-width);
    width: calc(100% - var(--dashboard-sidebar-width));
    height: var(--dashboard-header-height);
    z-index: 99;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
}

.dashboard .topbar .user {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
}

.dashboard .topbar .user img {
    width: 2.5rem;
    height: 2.5rem;
}

.dashboard .topbar .user .details {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
}